<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title> Home - Elektroniczny dziennik ocen</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" ><b>Elektroniczny dziennik ocen</b></a>
    <a class="navbar-brand" th:href="@{/logout}"><b>Wyloguj się</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<br /><br /><br />
<div class="container">
  <div class="row col-md-10">
    <br /><br /><br />
      <ul class="list-group">
        <h2><button type="button" class="list-group-item list-group-item-action"
                    onclick="location.href='/students'">Studenci</button></h2>
        <br />
        <h2><button type="button" class="list-group-item list-group-item-action"
                    onclick="location.href='/students'">Przedmioty</button></h2>
        <br />
        <h2><button type="button" class="list-group-item list-group-item-action"
                    onclick="location.href='/students'">Oceny</button></h2>
        <br />
      </ul>
  </div>

</div>
</body>
</html>